@import "src/assets/scss/common/common";

[v-cloak]{
  display: none;
}

.imageLayer {
  width: 200px;
  height: 150px;
  @include background_color("hover_background_color");
}

.bottomLayer {
  width: 200px;
  height: 250px;
  @include font_color("aside_text-color");
  @include background_color("hover_background_color");
}

.image {
  width: 200px;
  height: 150px;
  //display: block;
}

.footer {
  padding: 14px;
  @include background_color("background_color");

  ::v-deep .el-input__inner {
    border: 0 solid #f9fafb;
    padding-left: 0;
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    @include font_color("aside_text-color");
    @include background_color("background_color");
  }

  ::v-deep .el-dialog{
    position: absolute;
    top: 151px;
    left: 568px;
    width: 400px !important;
    height: 130px!important;
    box-shadow: none;
    border-radius: 6px;

    ::v-deep .el-button{
      padding-top: 8px!important;
      padding-bottom: 8px!important;
    }
  }

  ::v-deep .el-dialog__body {
    padding-top: 0!important;
  }
  ::v-deep .el-dialog__footer{
    height: 32px!important;
    padding-top: 0;
    padding-bottom: 0;
  }

}


::v-deep .el-input__inner {
  height: 32px;
}

::v-deep .el-input__icon {
  line-height: 32px;
}

.el-main{
  ::v-deep .el-loading-mask{
    @include background_color("background_color");
  }
}