html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#svg{
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 89.81282051282051,191.77948717948718 179.62564102564102,183.55897435897435 269,175 C 358.374358974359,166.44102564102565 447.31025641025633,157.54358974358976 522,160 C 596.6897435897437,162.45641025641024 657.1333333333334,176.26666666666665 737,200 C 816.8666666666666,223.73333333333335 916.1564102564103,257.3897435897436 987,244 C 1057.8435897435897,230.61025641025637 1100.2410256410255,170.17435897435897 1171,155 C 1241.7589743589745,139.82564102564103 1340.8794871794871,169.91282051282053 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    25% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 74.76410256410256,222.10000000000002 149.52820512820512,244.20000000000002 219,227 C 288.4717948717949,209.79999999999998 352.651282051282,153.29999999999998 438,141 C 523.348717948718,128.70000000000002 629.8666666666667,160.6 710,168 C 790.1333333333333,175.4 843.8820512820513,158.30000000000004 920,178 C 996.1179487179487,197.69999999999996 1094.6051282051283,254.2 1185,264 C 1275.3948717948717,273.8 1357.6974358974358,236.9 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    50% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 59.43076923076924,195.22820512820513 118.86153846153849,190.45641025641027 197,191 C 275.1384615384615,191.54358974358973 371.9846153846154,197.40256410256407 472,205 C 572.0153846153846,212.59743589743593 675.2,221.93333333333337 754,229 C 832.8,236.06666666666663 887.2153846153847,240.86410256410255 964,244 C 1040.7846153846153,247.13589743589745 1139.9384615384615,248.6102564102564 1223,241 C 1306.0615384615385,233.3897435897436 1373.0307692307692,216.6948717948718 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    75% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 65.13076923076923,204.7974358974359 130.26153846153846,209.59487179487178 212,214 C 293.73846153846154,218.40512820512822 392.0846153846153,222.41794871794872 481,219 C 569.9153846153847,215.58205128205128 649.4,204.73333333333332 720,201 C 790.6,197.26666666666668 852.3153846153848,200.64871794871797 928,204 C 1003.6846153846152,207.35128205128203 1093.3384615384614,210.67179487179487 1181,210 C 1268.6615384615386,209.32820512820513 1354.3307692307694,204.66410256410256 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
    100% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 89.81282051282051,191.77948717948718 179.62564102564102,183.55897435897435 269,175 C 358.374358974359,166.44102564102565 447.31025641025633,157.54358974358976 522,160 C 596.6897435897437,162.45641025641024 657.1333333333334,176.26666666666665 737,200 C 816.8666666666666,223.73333333333335 916.1564102564103,257.3897435897436 987,244 C 1057.8435897435897,230.61025641025637 1100.2410256410255,170.17435897435897 1171,155 C 1241.7589743589745,139.82564102564103 1340.8794871794871,169.91282051282053 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 104.93589743589746,359.8564102564103 209.87179487179492,319.71282051282054 283,333 C 356.1282051282051,346.28717948717946 397.4487179487179,413.0051282051282 457,418 C 516.5512820512821,422.9948717948718 594.3333333333334,366.26666666666665 687,354 C 779.6666666666666,341.73333333333335 887.2179487179485,373.92820512820515 972,400 C 1056.7820512820515,426.07179487179485 1118.7948717948718,446.0205128205128 1193,445 C 1267.2051282051282,443.9794871794872 1353.602564102564,421.9897435897436 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    25% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 76.22307692307692,380.0487179487179 152.44615384615383,360.0974358974359 225,377 C 297.55384615384617,393.9025641025641 366.4384615384614,447.6589743589744 459,429 C 551.5615384615386,410.3410256410256 667.8000000000001,319.2666666666667 745,334 C 822.1999999999999,348.7333333333333 860.3615384615385,469.27435897435896 932,473 C 1003.6384615384615,476.72564102564104 1108.7538461538463,363.63589743589745 1199,332 C 1289.2461538461537,300.36410256410255 1364.623076923077,350.18205128205125 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    50% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 77.05128205128204,395.4102564102564 154.1025641025641,390.8205128205128 235,379 C 315.8974358974359,367.1794871794872 400.64102564102564,348.12820512820514 476,359 C 551.3589743589744,369.87179487179486 617.3333333333334,410.6666666666667 696,420 C 774.6666666666666,429.3333333333333 866.025641025641,407.20512820512823 943,409 C 1019.974358974359,410.79487179487177 1082.5641025641025,436.5128205128205 1163,439 C 1243.4358974358975,441.4871794871795 1341.7179487179487,420.7435897435897 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    75% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 68.30000000000001,372.2282051282051 136.60000000000002,344.45641025641027 210,347 C 283.4,349.54358974358973 361.9,382.40256410256404 441,389 C 520.1,395.59743589743596 599.8,375.9333333333334 679,360 C 758.2,344.0666666666666 836.9000000000001,331.86410256410255 918,335 C 999.0999999999999,338.13589743589745 1082.6,356.6102564102564 1170,370 C 1257.4,383.3897435897436 1348.7,391.6948717948718 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
    100% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 104.93589743589746,359.8564102564103 209.87179487179492,319.71282051282054 283,333 C 356.1282051282051,346.28717948717946 397.4487179487179,413.0051282051282 457,418 C 516.5512820512821,422.9948717948718 594.3333333333334,366.26666666666665 687,354 C 779.6666666666666,341.73333333333335 887.2179487179485,373.92820512820515 972,400 C 1056.7820512820515,426.07179487179485 1118.7948717948718,446.0205128205128 1193,445 C 1267.2051282051282,443.9794871794872 1353.602564102564,421.9897435897436 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
}
