@import "src/assets/styles/common/common";
.main-data{
  max-height: 500px;
  overflow-y: auto;
  .el-row:hover {
    outline: 0 !important;
    @include font_color("aside_text-color");
    border-radius: 0.8em;
    @include background_color("hover_background_color");
  }
  .el-row {
    height: 70px;
    width: 100%;
  }
  .el-col {
    padding-top: 15px;
    padding-left: 15px;
  }
}

.el-icon-delete {
  color: #F56C6C;
}

::v-deep .el-divider--horizontal {
  margin: 12px 0 0 0;
}

.el-input {
  width: 50%;
}

.header{
  ::v-deep .el-input__inner {
    border: 1px solid #f9fafb;
    padding: 0;
  }
  ::v-deep .el-divider{
    margin: 0;
  }
}

.body{
  ::v-deep .el-input__inner,::v-deep .el-range-input{
    background-color: #e7ebed;
  }
}

.footer{
  width: 614.4px;
  .el-row {
    margin: 0 0 5px!important;
    height: 50px;
    width: 100%;
    background-color: #e7ebed!important;
  }
  .el-col {
    padding-top: 15px;
    padding-left: 15px;
  }
}

::v-deep .el-dialog__body {
  padding: 0 25px 5px !important;
}

::v-deep .el-dialog__header {
  padding: 10px 10px 5px !important;
}
::v-deep .el-dialog__footer{
  padding: 10px 0 5px!important;
  overflow-y: auto;
  max-height: 180px;
}
.el-tabs{
  ::v-deep .el-tabs__item{
    @include font_color("aside_text-color");
  }
}
.el-icon-more:hover {
  background-color: white;
  border-radius: 0.4em;
}
.el-icon-more{
  padding: 5px;
}

.el-dropdown-menu {
  @include background_color("aside_color");
  @include font_color("aside_text-color");
}

.el-dropdown-menu__item:hover {
  @include font_color("aside_text-color");
  @include background_color("hover_background_color");
}

.el-main{
  ::v-deep .el-loading-mask{
    @include background_color("background_color");
  }
}